.about {
    img:not(.wave) {
        margin-top: rem-calc(50px);
    }

    .wave {
        @include breakpoint(large) {
            width: 50px;
        }
        width: 35px;
        height: auto;
        margin: 0 rem-calc(15px);
    }

    h1 {
        display: flex;
        align-items: center;
    }

    .stack {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        overflow: hidden;
        padding: 0px;
        margin: 20px 0px 0px;
        list-style: outside none none;

        li {
            position: relative;
            margin-bottom: 10px;
            padding-left: 20px;

            &:before {
                position: absolute;
                left: 0px;
                color: $dark-gray;
                font-size: 16px;
                line-height: 28px;
                content: "▹";
            }
        }
    }

    .grid-container p:last-child {
        margin-bottom: rem-calc(30px);
    }
}
