footer {
    @include breakpoint(medium) {
        padding: 100px 0;
    }
    background-color: $light-gray;
    padding: 100px 0;
    font-family: $primary-font;

    p {
        @include breakpoint(medium) {
            margin: 0;
        }
        margin: 0 0 30px 0;
        color: $dark-gray;
    }

    div {
        display: block;

        a {
            color: $dark-gray;
            margin-right: 50px;
            transition: 0.3s ease;

            &:last-of-type {
                margin-right: 0;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }

    .content {
        @include breakpoint(medium) {
            justify-content: space-between;
            flex-direction: row;
            align-items: initial;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: rem-calc(16px);
    }
}
