.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        @include breakpoint(large) {
            font-size: rem-calc(72px);
        }
        margin: 0 0 rem-calc(30px);
        font-size: rem-calc(58px);
    }

    p {
        margin-bottom: rem-calc(30px);
    }
}
