.cta {
    display: flex;
    margin-bottom: rem-calc(200px);
    flex-direction: column;

    @include breakpoint(medium) {
        padding: rem-calc(50px);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $black;
        border-radius: 3px;
    }
    @include breakpoint(large) {
        padding: rem-calc(60px) rem-calc(100px);
    }

    a {
        display: inline-block;
        padding: rem-calc(10px) rem-calc(35px);
        border-radius: 3px;
        background-color: white;
        color: $black;
        transition: 0.3s ease;

        &:hover {
            background-color: $border-color;
        }
    }

    h3 {
        color: $black;
        font-family: $secondary-font;
        font-size: rem-calc(32px);
        margin: 0 0 rem-calc(20px);

        @include breakpoint(medium) {
            color: $white;
        }
    }

    p {
        margin: 0;
        color: $black;
        font-family: $primary-font;
        font-size: rem-calc(18px);
        font-weight: 300;

        @include breakpoint(medium) {
            color: white;
        }
    }
}
