.cta {
    @include breakpoint(medium) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: rem-calc(50px);
        border-radius: 3px;
    }
    @include breakpoint(large) {
        padding: rem-calc(60px) rem-calc(100px);
    }
    display: flex;
    margin: rem-calc(90px) 0 0 0;
    padding: rem-calc(30px);
    flex-direction: column;
    background-color: $black;

    div:last-of-type {
        @include breakpoint(medium) {
            margin-left: rem-calc(15px);
        }
    }


    a {
        @include breakpoint(large) {
            padding: rem-calc(10px) rem-calc(35px);
            width: auto;
        }
        display: inline-block;
        padding: rem-calc(10px) rem-calc(20px);
        width: 150px;
        border-radius: 3px;
        background-color: white;
        color: $black;
        transition: 0.3s ease;
        text-align: center;

        &:hover {
            background-color: $border-color;
        }
    }

    h3 {
        @include breakpoint(large) {
            font-size: rem-calc(28px);
        }
        @include breakpoint(large) {
            font-size: rem-calc(32px);
        }
        font-family: $secondary-font;
        margin: 0 0 rem-calc(20px);
        color: $white;
    }

    a {
        font-size: rem-calc(16px);
    }

    p {
        @include breakpoint(medium) {
            margin: 0;
        }
        margin: 0 0 rem-calc(20px);
        color: $black;
        font-family: $primary-font;
        font-size: rem-calc(18px);
        font-weight: 300;
        color: $white;
    }
}
