@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Base Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading tracking-wider text-primary leading-tight;
}

.max-height {
  height: calc(100vh - 280px - 70px);
}

.link {
  border-bottom: 1px solid #d2d4db;
  padding-bottom: 0.55556rem;
  @apply text-mdgray;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.about.link {
  padding-bottom: 0;
}

@keyframes bounce {
  0% {
    left: 0;
  }
  20% {
    left: 10px;
  }
  40% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

.arrow {
  position: relative;
  animation: bounce 3s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.link:hover {
  @apply text-primary border-primary;
}

p {
  @apply leading-normal;
}

form[name='contact'] input,
form[name='contact'] textarea {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
}

body {
  @apply text-white font-body box-border;
}

.contain {
  @apply w-full mx-auto px-4;
  max-width: 1140px;
}

.contain-md {
  @apply w-full mx-auto px-4;
  max-width: 1000px;
}

.contain-sm {
  @apply w-full mx-auto px-4;
  max-width: 900px;
}

.button {
  @apply py-3 px-6 border border-white inline-block transition duration-200 ease-linear;
}

.button:hover {
  @apply bg-white text-black;
}

.opacity-10 {
  opacity: 0.1;
}

.line {
  position: relative;
  display: flex;
  align-items: center;
}

.line::after {
  content: '';
  width: 340px;
  height: 1px;
  background-color: white;
  margin-left: 3rem;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Header Styles */
header a {
  position: relative;
  transition: 0.3s ease;
}

header a.active:after,
header a:hover:after {
  width: 100%;
  background-color: #fff;
}

header a.text-primary:after {
  @apply bg-primary;
}

header a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #a0a0a2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: 0.3s ease;
  z-index: 1;
  @apply bg-primary;
}
header nav.active {
  display: block;
  visibility: visible;
  animation: slideIn 0.4s cubic-bezier(0.645, 0.05, 0.355, 1) both;
  animation-fill-mode: both;
  animation-play-state: running;
}
header nav.active .menu {
  animation: showMenu 0.4s ease both;
  animation-delay: 0.4s;
}
header nav.hidden {
  display: block;
  transform: translateY(-100%);
  animation: slideOut 0.4s cubic-bezier(0.645, 0.05, 0.355, 1) both;
  animation-fill-mode: both;
  animation-play-state: running;
}

.hamburger div {
  height: 2px;
  margin-bottom: 5px;
  border-radius: 1px;
  transition: 0.3s;
  width: 24px;
}

.hamburger div:last-of-type {
  margin-bottom: 0;
}

.hamburger.active div:first-of-type {
  transform: rotate(-45deg) translate(-4px, 6px);
  background-color: white;
}
.hamburger.active div:first-of-type + div {
  width: 0;
  opacity: 0;
}
.hamburger.active div:last-of-type {
  transform: rotate(45deg) translate(-4px, -6px);
  width: 24px;
  background-color: white;
}
